#navbar,ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
     background-color: navy;
    border-radius: 15px;
    color: white;
    padding: 20px;

}

   
ul{
    gap: 50px;

}
#zone{
    color: yellow;

}
.card{
    border: 1px solid rgba(128, 128, 128,0.46);
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    

}
#card-containtr{
    border: 1px solid rgba(128, 128, 128,0.46);
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}
.rating{
    color: gold;
    font-size: 20px;
    margin: 5px 0;
}
button{
    width: 100%;
    background-color: navy;
    color: white;
    border: none;
    padding: 10px;
    margin: auto;
}
