 *{
            margin: 0;
           padding: 0;
        }
        #hero-section{
            background-image: url("./assets/WhatsApp\ Image\ 2026-06-16\ at\ 11.44.48\ AM.jpeg");
            height: 60vh;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            color: white;
        }
        #nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

        }
        a{
            text-decoration: none;
            color: white;
        margin-left: 20px;
        
        }
        button{
            background-color: rgba(240, 197, 7, 0.89);
            padding: 10px;
            border: none;
            border-radius: 10px;

        }
        h1{
            font-size: 4ram;
        }
        #hero-text{
            width: 40%;
            padding: 20px 30px;

        }
        p{
            color: black;

        }
        .hero-next{
            display: flex;
            align-items: center; 
        }
        #hero-after{
            display: flex;
            
            background-color: white;
            margin: 0px 50px;
            margin-top: -30px;
            padding: 10px;
            border-radius: 20px;
        }
       #manali{
        display: flex;
        width: 500px;
       align-items: center;
       margin-left: 50px;
       margin-top: 20px;
       gap: 10px;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       padding: 20px;
       border-radius: 10px;
       }
       .About{
        width: 50%;
       }

       .hill{
        margin-top: 10px;
        font-size: 1.2rem;
       }
      
         
      
      #hillas{
        align-items: center;
        display: flex;
        gap: 30px;
        
      }
      #enter{
        
        width: 250px;
        height: 280px;
       align-items: center;
       
       margin-top: 20px;
       gap: 10px;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       padding: 10px;
       border-radius: 10px;

      }
      #traval{
        align-items: center;
        height: 250px;
        width: 200px;
        
      }

      